.pro
{
  color: aqua;
  font-size: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 80px;
   margin: 80px 170px;
 }
 
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
}


.card {
  background-color: rgba(78, 143, 214, 0.61);
  border: 5px solid rgb(197, 161, 73) ;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  padding: 10px;
 text-align: center; 
}

.hub:hover {
  background-color:white;
}
.banking ,.bus ,.bill
{
  height: 20vh;
  width: 20vw;

}
.hub
{
  width: 5vw;
  height: 5vh;
  background-color: aquamarine;
  padding: 2px 2px;
  border-radius:5px ;
  margin-bottom:-10px;
  cursor: pointer;
}


  




