
.hero
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 50px;
    font-weight: 400;
}
.hero img
{
    margin-top: 30px;
    width: 13vw;
    height: 50vh;
    border-radius: 20px;
}
.hero h1 span{
    background: linear-gradient(270deg, orange 10%, rgb(192, 13, 227) 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    
}
.hero p
{
    width: 50%;
    text-align: top;
    font-size: 28px;
    line-height: 40px;
}
.hero-action
{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect
{
    padding: 25px 45px;
    border-radius: 45px;
    background: linear-gradient(264deg, orange -5.06%, #B415ff 106.28%);
    cursor: pointer; 
    a
    {
        text-decoration: none;
        color: whitesmoke;
    }
    
}
.hero-resume
{
    padding: 25px;
    border-radius: 40px;
    border: 2px solid #FFF;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #B415ff;
}
#type
{
    color: aqua;
    position: relative;
    top: 70px;
    right: 250px;
}
.soical
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-top:-50px;
}
#me
{
    height:90px;
    width:90px;
    background-color: aqua;
}
@media (max-width: 768px)
{
.hero img
{
    margin-top: 5px;
    width: 15vw;
    height: 35vh;
    border-radius: 10px;
}
.hero h1{
  margin-top: 50px;
  width: 90%;
  font-size: 50px;
}
.hero p{
    width: 60%;
    font-size: 18px;
    line-height: 32px;
    margin: 10px 0px;
}
.hero-action{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
    gap:16px;
     
}
.hero-connect{
    padding: 20px 30px;
    border-radius: 40px;
}
.hero-resume{
    padding: 20px 50px;
    border-radius: 40px;

}
}