.get h1{
    background: linear-gradient(270deg, orange 10%, rgb(192, 13, 227) 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    
   
}
.get
{
  color: aqua;
 font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;

}
.contact-cont
{
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    
    
}
.contact-left
{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    left: 400px;
}
.contact-title h2
{
    font-weight: 400;
    color: chocolate;
    font-size: 40px;
    margin-bottom: 5px;

}
.contact-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: bisque;
    border-radius:20px;
    margin-bottom: 10px;
}
#email
{
    font-size: 20px;
    color: aqua;
}

.contact-input
{
    width: 250px;
    height: 50px;
    border-radius:5px;
    outline:none;
    padding-left:25px;
    font-weight: 500;
    border-radius: 10px;
}
.contact-left textarea
{
    height: 100px;
    padding-top: 15px;
    border-radius:20px ;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: aliceblue;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f, #fa6d86);
    cursor: pointer;
}
.contact-left button:hover
{
    background:green ;
}
.contact-left{
    padding: 20px 40px;
    min-width: 100px;
    min-height: 50px;
    margin: 4px 10px;
    border: 3px solid #c92497d0;
    border-radius: 35px;
    background: #4688c567;
}
#emailicon
{
    height: 10vh;
    width: 15vw;
    margin-top: 50px;
    font-size: 15px;

}
.contact-right h1
{
    font-size: 30px;
    font-weight: 50px;
    color: #fa6d86;
    margin-left: 40px;
}
#emailsender
{
    margin-top:120px;
    padding: 80px 50px;
}
