.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;


}
.setting
{
    height: 8vh;
    width: 5vw;
}
.nav-menu
{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 50px;
    border-radius: 10px;
    background: linear-gradient(267deg, rgba(255, 0, 200, 0.642) 0.3%, rgba(0, 89, 255, 0.354) 102.06%);
a{
    text-decoration: none;
    color: aliceblue;
}
}
.nav-contact
{
    padding: 15px 30px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7c25 0.36%, #e40e0e 102.06%);
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    a{
        text-decoration: none;
        color: white;
    }
   
}
.nav-contact:hover
{
    transform: scale(1.05);
}
.nav-mob-close{
    display: none;
}
.nav-mob-close, .nav-mob-open{
  display: none;
}

@media (max-width: 768px) {
    .navbar{
      margin: 20px 50px;
    }
    .nav-contact
    {
      display: none;
    }
    .nav-mob-open{
      display: block;
      position: fixed;
      right: 30px;
    }
    .nav-mob-close
    {
      display: block;
      position: relative;
      top:-56px;
      width: 30px;
      left:100px
      
      
    }
    .nav-menu{
      position:fixed;
      flex-direction: column;
      align-items: center;
      top: 10px;
      gap: 30px;
      padding: 70px 30px;
      background:rgba(240, 248, 255, 0.934);
      width: 200px;
      height: 50%;
      z-index: 2;
      transition: right 0.10s;
      right: -350px;
      
    }
    .nav-menu li{
      font-size: 20px;
      padding-left: 100px;
      flex-direction: row;
      gap: 20px;
      margin-top:-20px;
      background: #e40e0e;
      padding: 15px 40px;
      border-radius: 20px;
      
    }
  }