@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
  padding: 0;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vh;
    align-items: end;
   
  
}

.buttons{
    display: flex;
    flex-wrap: wrap;
  margin-top: 30px;
  
}
.buttons{
  position: relative;
  
  border: 2px solid #c92525;
  background: transparent;
  margin: 15px 15px;
  border-radius: 5px;
  padding: 15px 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color:rgb(17, 204, 236);
}

.button:hover {
  box-shadow: 3px 3px 0px 0px rgb(205, 222, 16);
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.item {
    padding: 20px 40px;
    min-width: 100px;
    min-height: 50px;
    margin: 4px 10px;
    border: 3px solid #58c924;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fffdfd61;
    
}  

.category {
  color: #d87b1f;
  font-size: 10px;

}

.active {
  background-color: #a7e120;
  color: #be5a5a;
}
.image
{
  width: 10vw;
  height: 20vh;
}
.SKILS
{
  color: aqua;
 font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.para
{
  border: 2px solid #c92525;
  background: transparent;
  margin: 15px 50px;
  border-radius: 5px;
  padding: 15px 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color:rgba(236, 17, 188, 0.406);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: center;
  font-size: 25px;
}
.heading
{
  color: #be5a5a;
  text-decoration: underline;
}

@media (max-width: 768px)
{
  .buttons{
    display: flex;
    flex-wrap: wrap;
  margin-top: 30px;
  grid-column: 3 / 5;
  
  
}
  .buttons{
    position: relative;
    border: 2px solid #c92525;
    background: transparent;
    margin: 15px 15px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color:rgb(17, 204, 236);
  }
  .image
{
  width: 6vw;
  height: 8vh;
}
.category {
  color: #d87b1f;
  font-size: 10px;
  display: flex;
  

}
.item {
  padding: 20px 40px;
  min-width: 40px;
  min-height: 20px;
  margin: 4px 10px;
  border: 3px solid #58c924;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fffdfd61;
  
}  


}